body{
    font-family: Arial, Verdana,Tahoma;    
    background-color: white;
    font-size: 16px;
    margin: 0;
}
header{
    width: 100%; /* largura */
    background:cornflowerblue;
    padding: 15px; /*margem dentro do obsjeto*/
    box-sizing: border-box;
    display: inline-block;
    top: 0;
}
header nav {
    float: right;
    display: inline-block;
    margin: 20px;
    font-weight: 500;
    top: 30px;
}
header nav a {
    text-decoration: none;
    font-weight: bold;
    color:white ;
    margin: 30px;
}
header nav a:hover {
    color: #ff5055 ;    
}
header a{
    margin-left: 50px;
}
form{
    margin-top: 1%;
    margin-bottom: 10%;
    box-sizing: border-box;
    margin:20px;
}

footer{
    background: cornflowerblue;
    padding: 50px 0px; /*margem dentro do obsjeto*/
    text-align: center;    
}
footer a{
    background: #ccc;
    text-decoration: none;
    margin: 0px;
    color: #ff5055;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    transition: all 0.5s;
}
footer a:hover{
    background: #ff5055;
    color: white;
}
.menu {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}
header nav.mostrar {
    display: flex;
}

@media (max-width: 768px){
    header nav {
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
    header img {
        width: 300px;
    }
    header nav{
        display: none;
    }
    header nav.mostrar {
        display: flex;
    }
    footer{
        bottom: 0;
        padding: 20px 10px;
    }
    footer img {
        width: 70%;
        height: auto;
        margin: 10px 0;
    }
    .menu{
        display: block;
        border: 1px solid; #ff5055;
        padding: 5px 15px;
        color: #ff5055;
        float:right;
        margin-top: 15px;   
    }
}    

h1 {
    background: #ff5055;
    padding: 10px;
    text-align: center;
    margin:0 40px;
    }

.formulario{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 50px;
        border: 3px solid #111111;
    }
    label,.formulario{
        margin: 10px 0 
    }
    .btn-submit, .btn-reset{
        border: nome;
        padding: 10px 20px;
        border-radius: 5px;
        color: #FFF;
    }
    .btn-submit{
        background: green;
    }
    .btn-reset{
        background: red;
    }
    .formulario:focus{
        background: yellow;
    }
   