body{
    font-family: Arial, Verdana,Tahoma;    
    background-color: black;
    font-size: 16px;
    margin: 0;
}  
header{
    width: 100%; /* largura */
    background:cornflowerblue;
    padding: 15px; /*margem dentro do obsjeto*/
    box-sizing: border-box;
    display: inline-block;
    top: 0;
}
header nav {
    float: right;
    display: inline-block;
    margin: 20px;
    font-weight: 500;
    top: 30px;   
}
header nav a {
    text-decoration: none;
    font-weight: bold;
    color:white ;
    margin: 30px;
  
}
header nav a:hover {
    color: #ff5055;    
}
main{
    width:100%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    box-sizing: border-box;
    text-align: center;
}
main p a{
    background: white;
    text-decoration: none;
    padding: 10px;
    color: #ff5055;
    border-radius: 100px;
    transform: all 0.5s;
}
main p a:hover{
    background: #ff5055;
    color: white;
}

footer{
    background: cornflowerblue;
    padding: 50px 0px; /*margem dentro do obsjeto*/
    text-align: center;
    
}
footer a{
    background: #ccc;
    text-decoration: none;
    margin: 0px;
    color: #ff5055;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    transition: all 0.5s;
}
footer a:hover{
    background: #ff5055;
    color: white;
}
.menu{
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}
header nav.mostrar {
    display: flex;
}  
@media (max-width: 768px){
    main {
        padding: 15px;
        text-align: center;
    }
    iframe {
        width: 100%;
        height: 200px; 
    }
    header nav {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header img {
        width: 300px;
    }
    header nav{
        display: none;
    }
    header nav.mostrar {
        display: flex;
    }
    footer{
        bottom: 0;
        padding: 20px 10px;
    }
    footer img {
        width: 70%;
        height: auto;
        margin: 10px 0;
    }
    .menu{
        display: block;
        border: 1px solid; #ff5055;
        padding: 5px 15px;
        color: #ff5055;
        float:right;
        margin-top: 15px;   
    }
    
}
